<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="box"
             type="Aok_Patch.patcher_.TextBoxListener, Aok_Patch"
             initializeData="loggerRTB" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
